<!DOCTYPE html>
<html xmlns="https://www.thymeleaf.org">

<head>
    <title>Thu Tiền</title>
    <style th:replace="/components/style/style"></style>
    <link rel="stylesheet" th:href="@{/adminlte/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css}">
    <link rel="stylesheet" th:href="@{/adminlte/plugins/datatables-responsive/css/responsive.bootstrap4.min.css}">
</head>

<body class="hold-transition sidebar-mini layout-navbar-fixed">
    <div class="wrapper">
        <!-- NAVBAR AND SIDEBAR -->
        <div th:replace="/components/navbar"></div>
        <div th:replace="/components/sidebar"></div>
        <!-- END NAVBAR AND SIDEBAR -->
        <div class="content-wrapper">
            <div class="container-fluid">
                <section class="content-header container-fluid">
                    <h3>Thu tiền</h4>
                </section>
                <div class="content">
                    <!------------------------ CONTENT ------------------------------------------>
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Những hộ khẩu có tên chủ hộ là: </h3><h3 class="card-title" th:text="${tenChuHo}"></h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="nhankhauTable" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>ID chủ hộ</th>
                                        <th>Địa chỉ</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="hokhau : ${hokhaus}">
                                        <td th:text="*{hokhau.getId()}"></td>
                                        <td th:text="*{hokhau.getIdChuHo()}"></td>
                                        <td th:text="*{hokhau.getDiaChi()}"></td>
                                        <td>
                                            <a th:href="@{/thutien/noptien/{id}(id = *{hokhau.getId()})}" class="btn btn-primary">Đóng tiền</a>
                                            <a th:href="@{/thutien/lichsu/{id}(id = *{hokhau.getId()})}" class="btn btn-danger">Xem lịch sử</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!------------------------ END CONTENT ------------------------------------>
                </div>
                <div class="content-footer container-fluid"></div>
            </div>
        </div>
        <footer th:replace="/components/footer"></footer>
        <a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" aria-label="Scroll to top">
            <i class="fas fa-chevron-up"></i>
        </a>
    </div>
    <script th:replace="components/style/script.html"></script>
    <script th:src="@{/adminlte/plugins/datatables/jquery.dataTables.min.js}"></script>
    <script th:src="@{/adminlte/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js}"></script>
    <script th:src="@{/adminlte/plugins/datatables-responsive/js/dataTables.responsive.min.js}"></script>
    <script th:src="@{/adminlte/plugins/datatables-responsive/js/responsive.bootstrap4.min.js}"></script>
    <script>
        $(document).ready(function () {
            $('#nhankhauTable').DataTable();
        });
    </script>
</body>

</html>